.aboutImg {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 700px;
  height: 500px;
}

/* Mobile-responsive styles */
@media (max-width: 600px) {
  .aboutImg {
    width: 60%; /* Reduce the width for smaller screens */
  }

  .about {
    width: 100%; /* Take up full width of the screen */
    height: auto; /* Let the height adjust according to the aspect ratio */
  }
}