.aboutImg {
  margin: auto;
  width: 100%;
  padding: 10px;
}
.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 700px;
  height: 500px;
}
.about-banner{
  width: 100%;
  /* margin-left: 300px; */
  margin-bottom: 10px;
}

/* Mobile-responsive styles */
@media (max-width: 600px) {
  .aboutImg {
    width: 100%; /* Reduce the width for smaller screens */
  }

  .about {
    width: 100%; /* Take up full width of the screen */
    height: auto; /* Let the height adjust according to the aspect ratio */
  }
  .about-banner{
    width: 100%;
  }
}